/*fonts*/
@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
:root {
  --primary-color: #151515;
  --secondary-color: #a91d3a;
  --tertiary-color: #c73659;
  --quaternary-color: #eeeeee;
}

/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--quaternary-color);
}

body {
  color-scheme: dark;
  background: var(--primary-color);
  min-height: 100vh;
}

/* Header */
header {
  color: var(--tertiary-color);
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
}

/* h1 img container  */
.header__title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

/* H1 */
.header__title {
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--quaternary-color);
}

/* Nav */
.header__menu-btn {
  display: none;
}

.header__primary-nav,
.header__secondary-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 40%;
  height: 75%;
  border-bottom: 3px solid var(--quaternary-color);
}

.header__nav__list {
  display: flex;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 10px solid transparent;
  transition: 0.3s;
}

.header__nav__item a {
  text-decoration: none;
  color: var(--quaternary-color);
  font-size: 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}

.header__nav__item:hover {
  border-top: 10px solid var(--secondary-color);
}

.header__nav__item:hover > a {
  color: var(--secondary-color);
}

.header__nav-responsive {
  display: none;
  transform: scale(0.3);
  opacity: 0.3;
  transition: all 0.3s ease-in;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main__little-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  height: calc(100vh - 120px);
  padding-top: 50px;
  background: var(--primary-color);
}

.main__little-left__title {
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__little-left__title::after {
  content: "";
  width: 40%;
  height: 4px;
  background-color: var(--secondary-color);
  color: var(--secondary-color);
}

.main__little-left__dates {
  display: flex;
  gap: 1rem;
}

.main__little-left__dates p {
  font-size: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255 255 255 / 0.1);
  padding: 8px 15px;
  border-radius: 8px;
  user-select: none;
}

.main__little-left__dates p .info {
  font-size: 1.5rem;
  user-select: none;
}

/* main__areas */

.main__events {
  width: 100%;
  min-height: 100vh;
  background: var(--primary-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__events__h2 {
  font-size: 3rem;
  color: var(--secondary-color);
}

.main__events__p {
  font-size: 1.5rem;
  padding: 4px 3%;
}

.main__container__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.main__container__cards__card {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
}

.main__container__cards__card__img__container {
  display: flex;
  height: 220px;
}

.main__container__cards__card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.main__container__cards__card__map iframe {
  border-radius: 20px;
  width: 100%;
}

.main__horarios__h3 {
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.main__stand {
  width: 80%;
  background: var(--primary-color);
  margin: 30px 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__stand__h2 {
  font-size: 3rem;
  color: var(--secondary-color);
}

footer {
  height: 300px;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.footer__copyright {
  color: #bbb;
}

/* Footer */
.footer__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer__div__group {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50%;
}

.footer__item__container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
}

.footer__h3 {
  font-size: 1.1rem;
  color: rgba(255 255 255 / 0.6);
}

.footer__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__ul .footer__ul__li a {
  text-decoration: none;
}

.footer__ul .footer__ul__li:hover a {
  border-bottom: 1px solid #fff;
}

/* responsive */

@media screen and (max-width: 768px) {
  .header {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
  }

  .header__title__container {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
    gap: 1rem;
  }

  .header__image {
    width: 80px;
  }

  .header__title {
    font-size: 1.2rem;
  }

  .header__primary-nav,
  .header__secondary-nav {
    display: none;
  }

  .header__menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    gap: 0.65rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .header__menu-btn:active {
    outline: none;
    border: none;
  }

  .header__menu-btn div {
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    transform-origin: left;
    transition: all 0.5s;
  }

  .header__menu-btn-show div:first-child {
    transform: rotate(50deg);
  }

  .header__menu-btn-show div:nth-child(2) {
    opacity: 0;
  }

  .header__menu-btn-show div:last-child {
    transform: rotate(-50deg);
  }

  .header__nav-responsive {
    position: absolute;
    height: calc(100vh - 80px);
    background: linear-gradient(var(--primary-color), #000);
    width: 100%;
    bottom: 0;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 0px;
  }

  .show__nav__responsive {
    display: flex;
    animation: showNavbar 0.3s;
    transform: scale(1);
    opacity: 1;
  }

  .header__nav-responsive__ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    list-style: none;
    width: 100%;
    padding-top: 50px;
  }

  .header__nav-responsive__li {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .header__nav-responsive__li:active {
    background: rgba(255 255 255 / 0.1);
  }

  .header__nav-responsive__li a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px 20px;
    width: 100%;
    text-align: center;
  }

  .header__nav-responsive__p {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }

  .main__little-left {
    height: calc(100vh - 80px);
  }

  .main__little-left__dates {
    gap: 0.3rem;
  }

  .main__little-left__title {
    font-size: 3.5rem;
  }

  .main__little-left__dates p {
    font-size: 3rem;
  }

  .main__little-left__dates p .info {
    font-size: 1rem;
  }

  .footer {
    height: max-content;
  }

  .footer__container {
    flex-direction: column;
    gap: 40px;
  }

  .footer__div__group {
    width: 100%;
    gap: 30px;
  }

  .footer__item__container {
    gap: 50px;
  }

  .footer__nav {
    gap: 5px;
  }
}

@media screen and (max-width: 480px) {
  .main__little-left__title {
    font-size: 2.5rem;
  }

  .main__little-left__dates p {
    font-size: 2rem;
  }

  .main__little-left__dates p .info {
    font-size: 0.5rem;
  }

  .footer__div__group {
    flex-direction: column;
  }
}

/* animation */

@keyframes showNavbar {
  0% {
    transform: scale(0.6);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.main__container__form {
  padding: 10%;
  padding-top: 0;
  font-family: "roboto";
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__container__form label {
  padding: 1%;
  margin-top: 4%;
}

.main__container__form input {
  width: 50%;
  font-size: 1.5rem;
  padding: 0.5%;
}
